{% extends 'base.html' %}
{% block title %} Delete Product{%endblock title%}
{% block body %}

<div container style="padding-top: 120px; padding-left: 220px;padding-right: 120px;">
     <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="background:#cccccc;">
          <div class="card-body p-5 text-center" >
              <h3><i class="fas fa-trash-alt" style="font-size:100px;"></i></h3>
              <p> Are you sure you want to Delete </p>
                  <h2 class="text-center"> {{product}}</h2>
                  <div class="mb-md-5 mt-md-4 pb-5">
                      <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-warning" href="{%url 'shop' %}"> Cancel</a>
                        <button class ="btn btn-danger" type="submit" name= "Confirm"> Confirm</button>
                      </form>
                  </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock body%}